@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
  user-select: none;
  font-family: "Blinker", sans-serif;
}

html {
  min-height: 100vh;
}

body {
  background-repeat: no-repeat;
  background: rgb(219, 219, 219);
  background: -moz-linear-gradient(
    173deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(130, 144, 159, 1) 100%
  );
  background: -webkit-linear-gradient(
    173deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(130, 144, 159, 1) 100%
  );
  background: linear-gradient(
    173deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(130, 144, 159, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbdbdb",endColorstr="#82909f",GradientType=1);
  color: aliceblue;
}
