@import url("https://fonts.googleapis.com/css2?family=Blinker&display=swap");

:root {
  font-size: 16px;
}

html {
  font-family: "Blinker", sans-serif;
  height: 100vh;
}

body {
  background: rgb(219, 219, 219);
  background: -moz-linear-gradient(
    319deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(190, 190, 190, 1) 100%
  );
  background: -webkit-linear-gradient(
    319deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(190, 190, 190, 1) 100%
  );
  background: linear-gradient(
    319deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(190, 190, 190, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbdbdb",endColorstr="#bebebe",GradientType=1);
}
