.link {
  color: rgb(228, 228, 228);
  text-decoration: none;
}

.link:hover {
  color: rgb(143, 143, 143);
}

.underline {
  color: rgb(228, 228, 228);
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #f3f3f3;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(143, 143, 143);
  transform-origin: center right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: center left;
}
